* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    text-align: center;
    margin-top: 10px;    
}
header a {
    font-size: 25px;
    color: #3c3f61;
    text-decoration: none;
    margin: 30px;
}
header a:hover {
    color: #6c71ac;
}


.name {
    text-align: center;
    margin-top: 50px;
}
.name h {
    font-size: 80px;
    color: #3c3f61;
}
.name p {
    font-size: 30px;  
    color: #565a8b;
    margin-bottom: 50px;
}


.things {
    text-align: center;
    margin: 60px;
}
.things h {
    font-size: 55px;
    color: #3c3f61;
}
.things p {
    font-size: 30px;  
    color: #565a8b; 
    text-align: center; 
}
.things a {
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 50px;
    border: 2px solid #3c3f61;
    color: #3c3f61;
    text-decoration: none;
}
.things a:hover {
    background-color: #3c3f61;
    color: #fff;
}



.paragraph {
    margin-top: 20px;
    text-align: left;
}
.paragraph h {
    font-size: 35px;
    color: #3c3f61;
}


.left {
    margin-left: 10%;
    margin-right: 30%;
}
.right {
    margin-left: 30%;
    margin-right: 10%;
}



table {
    /*margin-left: 15%;
    margin-right: 15%;*/
    margin-top: 20px;
}
td {
    width: 50%;
}
.text p {
    margin: 0;
    font-size: 20px;  
    color: #565a8b; 
    text-align: left; 
}

